################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StarMapGen/src/__pycache__
/.vs
*.png
*.svg
/StarMapGen/src/ZCoordExample.jpg
/StarMapGen/src/Sector001.jpg
/StarMapGen/src/RaelSectorMap.jpg
/StarMapGen/src/parseFile.py
/StarMapGen/src/MultipleSystems2.jpg
/StarMapGen/src/MultipleSystems1.jpg
/StarMapGen/src/JordSectorMap.jpg
/StarMapGen/src/Fighter-wing.dxf
*.sln
*.pyproj
/sampleMap.dat
/StarMapGen/src/build/StarMapGen
/StarMapGen/src/dist
/StarMapGen/.vs/StarMapGen/v16/.suo
